{% extends 'core/base.html' %}

{% block content %}

<form method="GET" action="{% url 'index'%}">

{%for field in form %}
<div class="col-md-3">
{{field.label}}
    {{field}}
    </div>
    
{%endfor%}
    
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>

<hr>

<h1>Book List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
    {%for book in books %}
        <tr>
            <td>{{book.name}}</td>
            <td>{{book.author.name}}</td>
            <td>{{book.get_genre_display}}</td>
            <td>{{book.price}}</td>
        </tr>
    {%endfor%}
    </tbody>
</table>


{% endblock %}
